body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2; /* Light Gray */
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #ffc266; /* Light Orange */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.header {
    background-color: #3399ff; /* Deep Blue */
    color: #fff;
    padding: 30px;
    text-align: left;
    border-bottom: 2px solid #1a66cc; /* Slightly Darker Blue */
    position: relative;
    height: 134px;
}

.header h1 {
    margin: 0;
    font-size: 36px;
}

.header img {
    width: 186px;
  border-radius: 34%;
  position: absolute;
  top: 8px;
  right: 92px;
  height: 178px;

}

.contact-info {
    text-align: left;
    margin-top: 20px;
}

.contact-info p {
    margin: 5px 0;
}

.resume-section {
    padding: 30px;
    border-bottom: 1px solid #ddd;
    margin-left: 20px;
    background-color: #fff;
    border-left: 5px solid #1a66cc; /* Dark Blue */
}

h2 {
    margin-bottom: 15px;
    color: #1a66cc; /* Dark Blue */
}

.education-details h3,
.skills-section h2.skills,
.personal-details h2,
.co-curricular h2,
.projects h2,
.certificates h2,
.objective h2 {
    color: #1a66cc; /* Dark Blue */
    margin-bottom: 10px;
}

p {
    line-height: 1.8;
    font-size: 16px;
    margin-bottom: 10px;
}

.skills-list,
.co-curricular-list,
.projects-list,
.certificates-list,
.education-details p,
.personal-details p,
.objective p {
    list-style-type: none;
    padding: 0;
    text-align: left;
    margin-top: 0;
}

.skills-list li,
.co-curricular-list li,
.projects-list li,
.certificates-list li,
.education-details p,
.personal-details p,
.objective p {
    margin-bottom: 10px;
    border-left: 2px solid #1a66cc; /* Dark Blue */
    padding-left: 10px;
}

/* Corrected border for education details */
.education-details {
    border-left: 0; /* Remove the left border for the first item */
}

.education-details:not(:first-child) {
    border-left: 5px solid #1a66cc; /* Dark Blue */
    padding-left: 15px; /* Added padding for better spacing */
}


p{
    margin-bottom: 10px;
    border-left: 2px solid #1a66cc;
    padding-left: 10px;

}